body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

footer {
    text-align: right;
}

.row, .col.m7 {
    display: flex;
    width: 100%;
    margin-left: 0px;
}

.card {
    max-width: 200px;
}

.circle {
    position: relative;
    margin: 20px auto;
    width: 100px;
    height: 100px;
    border-radius: 5px;
}