body {
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

footer {
    text-align: right;
}

.card {
    max-width: 200px;
}
<<<<<<< HEAD

.circle {
    position: relative;
    margin: 20px auto;
    width: 100px;
    height: 100px;
    border-radius: 5px;
}
=======
>>>>>>> 80b2c1aed5c48f1e4db43d9c4d921d25d4835b2e
