{% extends 'base.html' %}

{% block content %}
<h5>{{ product.product_name }}</h5>
<br />
<div class="row">
  <div class="col s6">
    <img src="{{product.image_link}}" width="40%" alt="{{product_name}}">
  </div>
      <div class="col s6">
        <li style="list-style-type: none;"> {{product.brand}}</li>
        <li style="list-style-type: none;">$ {{product.price}}</li>
        <li style="list-style-type: none;">{{product.product_description}}</li>
        <br />
        <a href="{{product.website_link}}" class="waves-effect waves-teal btn-flat">Purchase</a>
        {% if user.is_authenticated %}
        <a href="{% url 'favorite_add' product.id user.id %}" i class="small material-icons">favorite_border</a>
        {% endif %}
        <br />
        <br />
        <article> More Details:</article>
        <li style="list-style-type: none;">Product type: {{product.product_type}}</li>
        <li style="list-style-type: none;">Product Category: {{product.tags}}</li>
  </div>
</div>
{% endblock %}