{% extends 'base.html' %}

{% block content %}
<h1>{{user.username}}</h1>
<h2>{{product.product_name}}</h2>
{% for product in favorites %}
    <div class="card">  
        <a href="{% url 'products_detail' product.id %}">
            <div class="card-content">
                <span class="card-title">{{product.product_name}}</span>
                <p><img src="{{product.image_link}}" style="width:50%" /></p>
                <p>{{product.brand}}</p>
                <p>$ {{product.price}}</p>
            </a>
            <a href="{% url 'favorite_remove' product.id user.id %}" class="waves-effect waves-teal btn-flat">Remove 💔</a>
        </div>
    </div>
{% endfor %}
{% endblock %}